.subtotal{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width:250px;
    height:200px;
    padding:10px;
    background-color: whitesmoke;
    border:1px solid #dddddd;
    border-radius: 3px;
}

.subtotal > button{
    background:#f0c14b;
    border-radius: 2px;
    width: 200px;
    height: 30px;
    padding:5px;
    border:1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color:black;
    font-weight: 800;
}